In [103]:
import pandas as pd
import uuid

In [104]:
name = 'test'

In [105]:
file_text = f'us_{name}.text'
file_label = f'us_{name}.labels'

In [106]:
with open(file_text, 'r', encoding='UTF-8') as file:
    text = [line.rstrip() for line in file]
with open(file_label, 'r', encoding='UTF-8') as file:
    label = [line.rstrip() for line in file]

In [107]:
df = pd.DataFrame({'text': text,'label': label})

In [108]:
df['label'] = df['label'].astype('category')

In [109]:
df['id'] = str(uuid.uuid4())

In [110]:
df['tokens'] = df['text'].str.split(' ')

In [111]:
df['size'] = df.tokens.apply(lambda x: len(x))

In [112]:
df['span'] = df['size']

In [113]:
df['span'] = pd.DataFrame([str([0,y]) for y in df['size']])

In [115]:
df = df.set_index('id').drop(['tokens', 'size'], axis=1)

In [116]:
display(df)
display(df.dtypes)
df.to_parquet(f'./us_{name}.parquet')

,text,label,span
id,,,
e172ea33-96f5-42a6-ae38-dd37a8d86342,en Pelham Parkway,2,"[0, 3]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,The calm before...... | w/ sofarsounds @user |...,10,"[0, 11]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,Just witnessed the great solar eclipse @ Tampa...,6,"[0, 9]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,This little lady is 26 weeks pregnant today! E...,1,"[0, 16]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,"Great road trip views! @ Shartlesville, Pennsy...",16,"[0, 7]"
...,...,...,...
e172ea33-96f5-42a6-ae38-dd37a8d86342,@user @user @user #la #westhollywood #dtboy #l...,5,"[0, 9]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,Climbing subway stairs. That was nothing. #sta...,19,"[0, 10]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,Pops with Ms Drina at The Swanees Anniversary ...,6,"[0, 13]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,"We love ️ Soren! July 26, 2017 was her first d...",0,"[0, 21]"
e172ea33-96f5-42a6-ae38-dd37a8d86342,Waiting in line for #TheRoom ! #PrepareForDisa...,2,"[0, 8]"

text       object
label    category
span       object
dtype: object